body {
   background:linear-gradient(rgb(255, 186, 244),rgb(190, 240, 255), rgb(255, 186, 244));
   font-family: fantasy;
}

header {
    display: flex;
    justify-content: space-between;
    
    font-family: fantasy;
    background: linear-gradient(rgb(255, 255, 255),rgb(245, 193, 255));
    font-size: 70px;
    color: rgb(255, 198, 247);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border: solid 5px rgb(255, 255, 255);
}
.header {
    margin-left: 20px;   
}


.nav-link {
    
    display: flex;
    flex-wrap: wrap;
    
   
}


li {
 margin-left: 30px; 
 margin-right: 20px;
}

.about-me {
   
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 40px;
    border-radius: 25px;
    
}

.text {
    display: inline;
  text-decoration: underline;
    padding: 10px;
   position: relative;
   bottom: 40px;
   left: 20px;
   background-color: white;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

}

.text-pic {
    display: flex;
}

.selfie {
    display: flex;
    border-radius: 150px;
    height: 300px;
    max-width: 300px;
    border: solid 3px rgb(255, 196, 232);
}



.work {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 40px;
    padding-bottom: 30px;
}
.work-text {
    text-decoration: underline;
    padding: 5px;
   position: relative;
   bottom: 43px;
   left: 20px;
   background-color: white;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}


.surf {
    margin: 20px;
    border-radius: 150px;
    width: 1000px;
    min-width: 100px;
    height: 700px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
}

.surf-image {
    border: black solid 5px;
    border-radius: 150px;
    height: 700px;
    width: 1000px;
}

.surf-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 100px;   
}


.photos {
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 200px;
    grid-row-gap: 20px;
  
    
}



.led, .calc, .pastel, .run {
    position: relative;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    
}

.led-text {
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
}

.calc-text {
    position: absolute;
    top: 40%;
    left: 20%;    
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
}

.pastel-text, .run-text {
    position: absolute;
    top: 35%;
    left: 20%;    
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
}


.led-image, .calc-image, .pastel-image, .run-image {
    
    margin: 10px;
    border: solid 5px black;
    border-radius: 150px;
    height: 300px;
    width: 300px;
    
}

.contact-me {
    border-radius: 25px;
   
    
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 40px;
    max-height: 300px;
    
    
}

.contact-me-text {
    padding: 5px;
    padding-bottom: 7px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-decoration: underline;
    display: inline-block;
      position: relative;
      bottom: 45px;
      left: 15px;
      background-color: white;
  
}


.contact-link {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    font-family: fantasy;
    position: relative;
    bottom: 50px;
    
}

.resume {
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 40px;
}

.resume-text {
    display: inline;
    text-decoration: underline;
    padding: 5px;
   position: relative;
   bottom: 43px;
   left: 20px;
   background-color: white;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}


.led:hover, .calc:hover, .pastel:hover, .run:hover, .surf:hover {
    box-shadow: 30px 30px 20px  black;
    cursor: pointer;
    
}


a:hover {
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(101, 219, 255);
}

a:link {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:rgb(255, 182, 239) ;
    text-decoration: none ;
    
    
  }

a:visited {
    
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: rgb(112, 245, 255);
}




@media screen and (max-width: 1050px) {

    header {
        display: flex;
        flex-direction: column;
        
        font-family: fantasy;
        background: linear-gradient(rgb(255, 255, 255),rgb(245, 193, 255));
        font-size: 70px;
        color: rgb(255, 198, 247);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        border: solid 5px rgb(255, 255, 255);
        min-width: 1000px;
    }

    .nav-link {
        text-decoration: underline red;
        
        
    }

.selfie {
    width: auto;
    height: auto;
}

    .text-pic {
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }
    
    .work {
        min-width: 1000px;
    }

    .about-me {
        min-width: 1000px;
    }
    
    .surf-image, .surf {
        max-height: 600px;
        max-width: 600px;
        margin-right: 10px;
        
    }

    .surf-text {
        text-align: center;
        position: absolute;
        top: 30%;
        
        font-size: 100px;  
    }

   .photos {
       display: flex;
       flex-wrap: wrap;
   }




}







@media screen and (max-width: 768px) {
    

    header {
        display: flex;
        flex-direction: column;
        
        font-family: fantasy;
        background: linear-gradient(rgb(255, 255, 255),rgb(245, 193, 255));
        font-size: 70px;
        color: rgb(255, 198, 247);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        border: solid 5px rgb(255, 255, 255);
        min-width: 500px;
    }

    .nav-link {
        text-decoration: underline red;
        
        
    }

.selfie {
    width: auto;
    height: auto;
}

    .text-pic {
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }
    
    .work {
        min-width: 500px;
       
    }

    .about-me {
        min-width: 500px;
    }
    
    .surf-image, .surf {
        max-height: 300px;
        max-width: 300px;
        
        
    }

    .surf-text {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 10%;
        font-size: 50px;  
    }

    .surf {
        position: relative;
        right: 105px;
    }

    .photos {
       
    }
   
}

